extends layout

block content
  div(class='page container' id='topPage')
    div(class='sub-menu')
    div(class='main-content-wrap')
      div(class='main-content')

  div(class='page container hide' id='loginPage')
    div(class='content ')
      div(class='inr')
        h2 ログイン
  include works