div(id='unigeBar')
  div(class='unige-logo')
    img(id='unigeLogo' src='../images/logo.png')
  div(class='info-bar')
    div(class='info-bar-inner')
      div(id='infoBar')
  div(class='toggle-view' style="display: none;")
    div(id='toggleView')
      div(class='tag-cloud')
        a(class='tag' href='/tag/apost') ぴよ

      div(class='categories hide')
        a(class='item' href='/cat/action') アクション
        a(class='item' href='/cat/rpg') RPG
        a(class='item' href='/cat/novel') ノベル
        a(class='item' href='/cat/race') レース
        a(class='item' href='/cat/shooter') シューティング
        a(class='item' href='/cat/sport') スポーツ
        a(class='item' href='/cat/puzzle') パズル
        a(class='item' href='/cat/table') テーブル
        a(class='item' href='/cat/quiz') クイズ
        a(class='item' href='/cat/chaos') 謎
        a(class='item' href='/cat/test') 実験
        a(class='item' href='/cat/other') その他
  div(class='main-bar')
    div(id='mainBar')
        div(id='userMenu')
          //- a(class='item') ゆにげーについて
          //- a(class='item') ランキング
          //- a(class='item') 制作物
          //- a(class='item') プロフィール
          //- a(class='item') メッセージ
          //- a(class='item') 設定
          //- a(class='item') ログアウト
      div(class='main-menu')
        div(class='user-wrap')
          div(id='userLabel')
            div(class='loading')
              i(class="fa fa-spinner fa-spin fa-2x")
            div(class='wrap hide')
              div(class='icon-wrap')
                img(class='icon' src='/images/icon.png')
              a(class='handle') あのに
              div(class='notices')
                i(class="fa fa-envelope fa-1g hide")
          button(id='entryButton') 登録




        div(class='search')
          i(class="fa fa-search fa-1g")
          input(type='search' id='search-unigame' )
        div(class='seek-wrap')
          a(id='mainMenuGenreButton' class='button-b' href='/genres') ジャンルで探す
          a(id='mainMenuTagButton' class='button-b' href='/tags') タグで探す
        div(class='clearfix')
  div(id='statusBar')
    span(class='copyright') Copyright © 2014 anoChickWorks All Rights Reserved.
