div(class='page hide' id='worksPage')
  div(class='sub-menu')
    h3 制作物
    div(class='side-menu' id='worksSideMenu')
      a(class='item' href='works/new') 新規投稿
      a(class='item' href='works/list') 投稿したゲーム
  div(class='main-content-wrap')
    div(class='main-content')
      div(class='container hide' id='worksnewContainer')
        h3 新規投稿
      div(class='container hide' id='workslistContainer')
        h3 投稿したゲーム
