doctype html
html
  head
    title= title
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="/javascripts/unige.js")
  body
    div(class='main box-ver')
      div(class='main-content-wrap box-ver flex')
        div(class='main-content flex box-ver')
          block content



        footer
          include unigebar
