div(id='unigeBar')
  div(class='info-bar')
    div(class='info-bar-inner')
      div(id='infoBar')
  div(class='main-bar')
    div(id='mainBar')
      div(class='unige-logo')
        img(id='unigeLogo' src='../images/unigelogo.png')
        div(id='vertical-menu')
          a(class='item') ゆにげーについて
          a(class='item') ランキング
          a(class='item') 制作物
          a(class='item') プロフィール
          a(class='item') メッセージ
          a(class='item') 設定
          a(class='item') ログアウト
      div(class='main-menu')
        div(id='user-label')
          div(class='icon-wrap')
            img(class='user-icon' src='http://anochick.com/images/member/anochick.png')
          a(class='user-name') あのに
          div(class='notices')
            i(class="fa fa-envelope fa-1g")
        div(class='select-category-wrap')
          div(class='select-category genre')


        div(class='search')
          i(class="fa fa-search fa-1g")
          input(type='search' id='search-unigame' )
        div(class='clearfix')
